* {
    font-family: "Barlow", sans-serif;
    line-height: 2em;
    padding: 0;
    margin: 0;
}
.banner-1 {
    background-image: url(../../images/front.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
    height: 90vh;
}
.bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}
.beforeLine {
    position: relative;
    width: 50px;
    height: 25px;
    color: #f04e3c;
    bottom: 13px;
}
.topHeading {
    color: #f04e3c;
}
.playIcon {
    color: #ff1313;
    font-size: 6em !important;
}
.serviceBg {
    background-image: url(../../images/service-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
}
.cardText {
    bottom: 10px;
    left: 70px;
}
.banner-2 {
    background-image: url(../../images/section-bg2.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.days {
    background-color: #f7fdff;
    width: fit-content;
}
.footer-bg {
    background-image: url(../../images/section_bg03.png.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
